@page
@model BankingApp.Pages.AccountHomeModel
@{
    ViewData["Title"] = "Account Home";
}
@{
    string FirstName = Model.UserSession.FirstName;
    string LastName = Model.UserSession.LastName;
    string CardNum = Model.UserSession.CardNum;
    string Pin = Model.UserSession.Pin;
    string Balance = Model.UserSession.Balance;
}

<header>
    <h2>Welcome @FirstName!</h2>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            @*<a class="navbar-brand" asp-area="" asp-page="/Index">BankingApp</a>*@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AccountHome">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AccountHome">Withdraw</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AccountHome">Deposit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container border" style="padding: 10px">
    <p>
        <h4>User Information</h4>

        First Name: @FirstName<br />
        Last Name: @LastName<br />
        Card Number: @CardNum<br />
        Pin: @Pin<br />
        Balance: $@Balance<br />
    </p>

</div>
