@page
@model BankingApp.CreateAccountModel
@{
    ViewData["Title"] = "Create Account";
}

<div class="container border" style="padding: 20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <!--First Name Collection-->
        <div class="form-group-row">
            <div class="col-2" style="padding-bottom: 10px">
                <label asp-for="AccountInformation_NewUser.FirstName"></label>
            </div>
            <div class="col-5" style="padding-bottom: 20px">
                <input type="text" asp-for="AccountInformation_NewUser.FirstName" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="AccountInformation_NewUser.FirstName"></span>
        </div>

        <!--Last Name Collection-->
        <div class="form-group-row">
            <div class="col-2" style="padding-bottom: 10px">
                <label asp-for="AccountInformation_NewUser.LastName"></label>
            </div>
            <div class="col-5" style="padding-bottom: 20px">
                <input type="text" asp-for="AccountInformation_NewUser.LastName" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="AccountInformation_NewUser.LastName"></span>
        </div>

        <!--Pin Collection-->
        <div class="form-group-row">
            <div class="col-2" style="padding-bottom: 10px">
                <label asp-for="AccountInformation_NewUser.Pin"></label>
            </div>
            <div class="col-5" style="padding-bottom: 20px">
                <input type="text" asp-for="AccountInformation_NewUser.Pin" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="AccountInformation_NewUser.Pin"></span>
        </div>

        <!--Submit Button-->
        <div class="form-group-row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Create Account" />
            </div>
            <div class="col-3">

            </div>
        </div>

    </form>
</div>
