@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="padding-left: 10%;padding-right:10%">
        Welcome to the Banking App. This is a simple banking application that I have
        created to showcase my skills in C#, SQL, and HTML. Along the way, I have
        utilized Visual Studio for Mac, Razor Pages, SQlite, and some simple BootStrap.
        Feel free to have a look around. If you already have an account, please refer to
        the 'Login' tab above to access your account. If you're new here, go make an
        account at our 'Create An Account' tab. If you encounter any issues using the
        site, please feel free to reach out to me at <a href="mailto:email@example.com">btbuckjr@crimson.ua.edu</a>.
    </p>
</div>

